<div class="section">
  <h2 class="subtitle is-4">Pokemon filtered by type {{type}}</h2>

  <div style="margin-top: 40px;">
    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let item of pokemonByType">
        <article class="message is-dark">
          <div class="message-body">
            <p class="subtitle is-5 has-text-weight-bold">{{item.pokemon.name}}</p>
            <button [routerLink]="['/pokemon', item.pokemon.name]" class="button is-small is-primary">Dettaglio</button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
