<div class="section px-3 pb-0">
  <h2 class="subtitle is-4">Most searched pokemons</h2>

  <div class="mt-5">
    <div class="columns is-multiline">
      <div class="column is-6" *ngFor="let pokemon of mostSearched">
        <article class="message is-warning">
          <div class="message-body">
            <p class="subtitle is-5 has-text-weight-bold is-capitalized">{{pokemon.name}}</p>
            <button [routerLink]="['/pokemon', pokemon.name]" class="button is-small is-warning">Detail</button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
